################ ModMail Configuration ################

###################### Bot #######################

# Bot information
BOT_TOKEN=
BOT_CLIENT_ID=
BOT_CLIENT_SECRET=

##################### Server #####################

# Web server
BASE_URI=http://localhost:8000
